.thumbnailImg{
    border-radius: 10px;
    cursor: pointer;
}

.videoTimeDiv{
    position: relative;
    bottom: 50px;
    left:290px;
    width: fit-content;
    background-color: black;
    border-radius: 3px;
    z-index: 1;
}

.videoTime{
    margin-left: 3px;
    margin-right: 3px;
}

.authorText{
    margin-top: -15px;
    cursor: pointer;
    color: rgb(179, 179, 179);
    width: fit-content;
}
.authorText:hover{
    color: rgb(255, 255, 255);
}